.introduction {
  background-color: #c3bef0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  padding-bottom: 150px;
  text-align: center;
}
.heading {
  font-family: "Gupter", serif;
  font-size: 36px;
  font-weight: 400;
}
.project {
  font-family: "Gupter", serif;
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  background-color: #c3bef0;
}
.location {
  font-family: "Gupter", serif;
  font-size: 36px;
  font-weight: 400;
}
.name {
  font-family: "Roboto Flex", sans-serif;
  font-size: 88px;
  margin-bottom: 60px;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}
.button {
  background-color: #cca8e9;
  border: 1px solid #cca8e9;
}
.button:hover {
  background-color: #f5c7f7;
  border: 1px solid #f5c7f7;
  color: black;
}
.link {
  color: #c3bef0;
  font-family: "Gupter", serif;
  font-size: 20px;
  text-align: center;
}
footer {
  margin-top: 70px;
  text-align: center;
}

.img-fluid {
  width: 10;
  height: 10;

  border: 12px solid #f9f7fe;
  padding: 50 50 30 30;
  border-radius: 6px;
  margin-top: 14px;
}
.basic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  margin-top: 94px;
}
p {
  color: #6c757d;
  font-family: "Gupter", serif;
  font-size: 25px;
  line-height: 30px;
}
